@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--google-font-color-notocoloremoji: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#debug-cols {
	--rf-debug-odd: rgba(255, 0, 0, 0.3);
	--rf-debug-even: rgba(0, 255, 0, 0.3);

	background: rgba(0, 0, 255, 0.3);
}

#debug-cols div:nth-of-type(odd) {
	background: var(--rf-debug-odd);
}
#debug-cols div:nth-of-type(even) {
	background: var(--rf-debug-even);
}
